{% extends 'base.html.twig' %}

{% block title %}Admin page
{% endblock %}

{% block body %}

	<div class="light-blue-bg w-25 mx-auto mt-form">
		{{ form_start(form, {'action': path('admin_dashboard')}) }}

		{# Render all form fields except the submit button #}
		{{ form_row(form.login) }}
		{{ form_row(form.mail) }}
		{{ form_row(form.enterprise) }}
		{{ form_row(form.status) }}
		{{ form_row(form.roles) }}
		{{ form_row(form.password) }}

		{# Customize the submit button with the custom-btn class #}
		{{ form_widget(form.save, {'attr': {'class': 'custom-btn custom-submit-class w-100 mt-3'}}) }}

		{{ form_end(form) }}
	</div>
	<div class="comment-form-container mt-4">
		{{ form_start(formACComment) }}
		{{ form_row(formACComment.comment) }}
		{{ form_widget(formACComment.submit, {'attr': {'class': 'custom-btn custom-submit-class w-100 mt-3'}}) }}
		{{ form_end(formACComment) }}
	</div>

{% endblock %}
