{% extends 'base.html.twig' %}

{% block title %}Commentary page
{% endblock %}

{% block body %}
	<div>
		<a href="{{ path('admin_dashboard') }}">Admin Dashboard</a>
	</div>

	<div class="comment-form-container mt-4">
		{{ form_start(formACComment) }}
		{{ form_row(formACComment.comment) }}
		{{ form_widget(formACComment.submit, {'attr': {'class': 'custom-btn custom-submit-class w-100 mt-3'}}) }}
		{{ form_end(formACComment) }}
	</div>


{% endblock %}
