{% extends 'base.html.twig' %}

{% block title %}Inventory page
{% endblock %}

{% block body %}


<div>
	<a href="{{ path('admin_dashboard') }}">Admin Dashboard</a>
	<br>
	<a href="{{ path('app_csvInventory', { 'inventoryNumber': '002650' }) }}">Génération du CSV Rubis</a>
	<br>
	{# <a href="{{ path('app_inventory_counting_xlsx') }}">Génération du Fichier excel comptage</a>
	<br> #}
	<a href="{{ path('app_inventory_setting_counting_page_edition') }}">Feuilles comptage</a>
	<br>
	<a href="{{ path('app_inventory_populate_inventory_articles_db') }}">Populer DB Articles</a>
	<br>
	<a href="{{ path('app_inventory_populate_inventory_locations_db') }}">Populer DB Localisations</a>


</div>

{% endblock %}