{% extends 'base.html.twig' %}

{% block title %}Gestion de l'Inventaire{% endblock %}

{% block body %}

<div class="container my-4">
    <h1 class="text-center green-text mb-4">Gestion de l'Inventaire</h1>

    <!-- Section Actions -->
    <section class="mb-5">
        <h2 class="blue-arba mb-3">Actions</h2>
        <div class="row">
            <div class="col-md-4 mb-3">
                <a href="{{ path('app_inventory_populate_inventory_locations_db') }}"
                    class="btn btn-secondary custom-btn blue-arba w-100 d-flex align-items-center justify-content-center">
                    <i class="fas fa-map-marker-alt me-2"></i> Extraire les allées Rubis
                </a>
            </div>
            <div class="col-md-4 mb-3">
                <a href="{{ path('app_inventory_populate_inventory_articles_db') }}"
                    class="btn btn-secondary custom-btn blue-arba w-100 d-flex align-items-center justify-content-center">
                    <i class="fas fa-boxes me-2"></i> Extraire les articles Rubis
                </a>
            </div>
            <div class="col-md-4 mb-3">
                <a href="{{ path('app_inventory_list_unknown_article') }}"
                    class="btn btn-secondary custom-btn blue-arba w-100 d-flex align-items-center justify-content-center">
                    <i class="fas fa-print me-2"></i> Liste des articles non référencés
                </a>
            </div>
            <div class="col-md-4 mb-3">
                <a href="{{ path('app_inventory_setting_counting_page_edition_stock') }}"
                    class="btn btn-secondary custom-btn blue-arba w-100 d-flex align-items-center justify-content-center">
                    <i class="fas fa-print me-2"></i> Imprimer les feuilles de comptage articles stockés
                </a>
            </div>
            <div class="col-md-4 mb-3">
                <a href="{{ path('app_inventory_setting_counting_page_edition_lot') }}"
                    class="btn btn-secondary custom-btn blue-arba w-100 d-flex align-items-center justify-content-center">
                    <i class="fas fa-print me-2"></i> Imprimer les feuilles de comptage articles variables
                </a>
            </div>
            <div class="col-md-4 mb-3">
                <a href="{{ path('app_csvInventory') }}"
                    class="btn btn-secondary custom-btn blue-arba w-100 d-flex align-items-center justify-content-center">
                    <i class="fas fa-file-csv me-2"></i> Générer le CSV Rubis
                </a>
            </div>
            <div class="col-md-4 mb-3">
                <a href="{{ path('app_csvInventoryLot') }}"
                    class="btn btn-secondary custom-btn blue-arba w-100 d-flex align-items-center justify-content-center">
                    <i class="fas fa-file-csv me-2"></i> Générer le CSV Lot Rubis
                </a>
            </div>
            <div class="col-md-4 mb-3">
                <a href="{{ path('admin_dashboard') }}"
                    class="btn return-btn blue-arba w-100 d-flex align-items-center justify-content-center">
                    <i class="fas fa-arrow-left me-2"></i> Menu d'administration
                </a>
            </div>
            <div class="col-md-4 mb-3">
                <a href="{{ path('app_inventory_delete_db') }}"
                    class="btn btn-outline-danger w-100 d-flex align-items-center justify-content-center">
                    <i class="fas fa-trash-alt me-2"></i> Supprimer les Bases de Données
                </a>
            </div>
            {# <div class="col-md-4 mb-3">
                <a href="{{ path('app_selection_ecart') }}"
                    class="btn return-btn blue-arba w-100 d-flex align-items-center justify-content-center">
                    <i class="fas fa-arrow-left me-2"></i> Gestion des écarts
                </a>
            </div> #}
        </div>
    </section>

    <!-- Section Règles de Gestion -->
    <section>
        <h2 class="blue-arba">Règles de Gestion</h2>
        <div class="card shadow-sm p-3 mb-5 bg-body rounded">
            <h3 class="card-title blue-arba mb-3">Guide Utilisateur - Gestion de l'Inventaire ARBA</h3>
            <p class="sfp-regular-text">Ce guide fournit des instructions sur l'utilisation du module inventaire,
                incluant :</p>
            <ul class="list-group list-group-flush sfp-regular-text">
                <li class="list-group-item">L'import des inventaires Rubis</li>
                <li class="list-group-item">L'impression des feuilles de comptage</li>
                <li class="list-group-item">La saisie des quantités</li>
                <li class="list-group-item">La génération du Fichier CSV Rubis</li>
            </ul>
        </div>

        <!-- Détail des Règles de Gestion -->
        <div class="accordion sfp-regular-text" id="managementRulesAccordion">
            <!-- Importer l'Inventaire Rubis -->
            <div class="accordion-item">
                <h3 class="accordion-header" id="headingImport">
                    <button class="accordion-button blue-arba" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseImport" aria-expanded="true" aria-controls="collapseImport">
                        1. Importer l'Inventaire Rubis
                    </button>
                </h3>
                <div id="collapseImport" class="accordion-collapse collapse show" aria-labelledby="headingImport"
                    data-bs-parent="#managementRulesAccordion">
                    <div class="accordion-body">
                        Pour importer les articles à inventorier, utilisez <em><strong>"Extraire les allées
                                Rubis"</em></strong> et <em><strong>"Extraire les articles Rubis"</em></strong> en
                        renseignant le numéro d'inventaire. <br><br>
                        <u>Les conditions à remplir pour qu'un article soit remonté sur l'application :</u><br>
                        <ol>
                            <li>Ne doit pas être suspendu.</li>
                            <li>Doit être en stock (fiche article et stock).</li>
                            <li>Doit avoir une localisation.</li>
                            <li>Doit être référencé dans un inventaire Rubis.</li>
                            <li>Ne doit pas être un article divers.</li>
                        </ol>
                        <p>Utilisez <em><strong>"Supprimer les Bases de Données"</em></strong> pour vider la base de
                            données si nécessaire.</p>
                    </div>
                </div>
            </div>

            <!-- Imprimer les Feuilles de Comptage -->
            <div class="accordion-item">
                <h3 class="accordion-header" id="headingPrint">
                    <button class="accordion-button collapsed blue-arba" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapsePrint" aria-expanded="false" aria-controls="collapsePrint">
                        2. Imprimer les feuilles de comptage
                    </button>
                </h3>
                <div id="collapsePrint" class="accordion-collapse collapse" aria-labelledby="headingPrint"
                    data-bs-parent="#managementRulesAccordion">
                    <div class="accordion-body">
                        L'impression des feuilles ce fait en masse et par inventaire.<br>
                        Sélectionnez "Feuilles de comptage", saisissez le numéro d'inventaire, choisissez une
                        imprimante, et cliquez sur "Editer". <br><br>
                        Un message indiquera que l'impression est effectuée après quelques secondes de traitement.<br>
                        Les fichiers PDF seront stockés et listés sur la page d'administration des impressions.<br><br>
                        <u>Les conditions d'édition :</u><br>
                        <ol>
                            <li>Chaque allée à sa propre édition sur 1 ou plusieurs pages.</li>
                            <li>Une 2ème impression en masse n'est pas possible sans l'invervention d'un développeur.
                            </li>
                        </ol>
                        <u>Les éléments à renseigner lors de l'inventaire sont :</u>
                        <ol>
                            <li><strong>Compté par :</strong> doit contenir les initiales des 2 membres du binôme de
                                comptage <em> (obligatoire).</em></li>
                            <li><strong>Saisie par :</strong> doit contenir le nom de la personne qui saisie les
                                quantités sur l'application.<em>(obligatoire).</em></li>
                            <li><strong>Quantité </strong> doit être systématiquement renseignée et doit être à zéro si
                                la quantité est nulle <em>(obligatoire).</em></li>
                            <li><strong>Dont qté dép. </strong> contient la quantité de marchandise abimée en unité de
                                comptage <em>(facultatif).</em></li>
                            <li><strong>% dép. </strong> contient la quantité de marchandise en % pour indiquer le
                                volume sur les articles non divisibles <em>(facultatif).</em></li>
                            <li><strong>Recomptage </strong> contient la quantité de marchandise en % pour indiquer le
                                volume sur les articles non divisibles <em>(facultatif)</em>.</li>
                        </ol>


                    </div>
                </div>
            </div>

            <!-- Saisie des Inventaires -->
            <div class="accordion-item">
                <h3 class="accordion-header" id="headingEntry">
                    <button class="accordion-button collapsed blue-arba" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseEntry" aria-expanded="false" aria-controls="collapseEntry">
                        3. Saisie des Inventaires
                    </button>
                </h3>
                <div id="collapseEntry" class="accordion-collapse collapse" aria-labelledby="headingEntry"
                    data-bs-parent="#managementRulesAccordion">
                    <div class="accordion-body">
                        À partir du menu de base, accéder aux localisations depuis le bouton <strong>"Module inventaire
                            > Inventaire ou Lot"</strong> en fonction du type d'article, sélectionnez une allée, puis
                        renseignez les quantités et enregistrez.<br>
                        <u>Les conditions à remplir :</u><br>
                        <ol>
                            <li>Seule la quantité peut être renseignée pour les articles stockés, pour ceux à longueur
                                variable le numéro de lot sera également nécessaire.</li>
                            <li>Les informations de dépréciations sont à ignorer car injectées dans Rubis autrement.
                            </li>
                            <li>Si un emplacement est enregistré sans valeur, les quantités sont valorisées à zéro.</li>
                            <li>Dans le cas ou la colonne "Recomptage" est renseignée, prendre cette valeur pour la
                                quantité.</li>
                            <li>Si un article a été ajouté manuellement, il est à mettre de côté pour une saisie annexe.
                            </li>
                        </ol>
                    </div>
                </div>
            </div>

            <!-- Générer le CSV Rubis -->
            <div class="accordion-item">
                <h3 class="accordion-header" id="headingCSV">
                    <button class="accordion-button collapsed blue-arba" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseCSV" aria-expanded="false" aria-controls="collapseCSV">
                        4. Générer le CSV Rubis
                    </button>
                </h3>
                <div id="collapseCSV" class="accordion-collapse collapse" aria-labelledby="headingCSV"
                    data-bs-parent="#managementRulesAccordion">
                    <div class="accordion-body"> Une fois la saisie des quantités terminée, un fichier doit être généré
                        pour envoyer les informations à Rubis.<br>
                        Un fichier doit être fait par inventaire. <br>
                        <u>Pour générer un CSV :</u><br>
                        <ol>
                            <li>Utilisez <em><strong>"Générer le CSV Rubis"</em></strong> pour lancer la création.</li>
                            <li>Saisissez le numéro d'inventaire et cliquez sur "Générer".</li>
                            <li>Le fichier sera stocké pour analyse et sera déposé sur le FTP de Rubis.</li>
                            <li>Le traitement est terminé sur l'application.</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

{% endblock %}