{% extends 'base.html.twig' %}

{% block title %}Inventory page
{% endblock %}

{% block body %}


<div>
	<a href="{{ path('admin_dashboard') }}">Admin Dashboard</a>
	<br>
	<a href="{{ path('app_csvInventory') }}">Génération du CSV Rubis</a>
	<br>

	<a href="{{ path('app_inventory_setting_counting_page_edition') }}">Feuilles comptage</a>
	<br>
	<a href="{{ path('app_inventory_populate_inventory_articles_db') }}">Populer DB Articles</a>
	<br>
	<a href="{{ path('app_inventory_populate_inventory_locations_db') }}">Populer DB Localisations</a>
	<br>
	<a href="{{ path('app_inventory_delete_db') }}" style="color: red;">Delete DB</a>


</div>

{% endblock %}