{% extends 'base.html.twig' %}

{% block title %}Détail Commande
{% endblock %}

{% block body %}
<div class="content-container  sfp-regular-text">

	<div class="form-container light-blue-bg">
		<h3>Détail commande</h3>
		{{ form_start(form, {'attr': {'class': 'change-delivery-date-form'}, 'action': path('app_edit', {'id':
		order.id})}) }}

		<div class="form-group">
			{{ form_label(form.id, 'N° de bon', {'label_attr': {'class': 'custom-typography'}}) }}
			{{ form_widget(form.id, {'attr': {'class': 'form-control custom-typography', 'disabled': 'disabled'}}) }}
		</div>

		<div class="form-group">
			{{ form_widget(form.orderStatus, {'attr': {'class': 'form-control custom-typography', 'disabled':
			'disabled'}}) }}
		</div>

		<div class="form-group mt-3">
			{{ form_label(form.reference, 'Référence', {'label_attr': {'class': 'custom-typography'}}) }}
			{{ form_widget(form.reference, {'attr': {'class': 'form-control custom-typography', 'disabled':
			'disabled'}}) }}
		</div>

		<div class="form-group mt-3">
			{{ form_label(form.orderDate, 'Date de commande', {'label_attr': {'class': 'custom-typography'}}) }}
			{{ form_widget(form.orderDate, {'attr': {'class': 'form-control custom-typography', 'disabled':
			'disabled'}}) }}
		</div>

		<div class="form-group mt-3">
			{{ form_label(form.deliveryDate, 'Date de livraison', {'label_attr': {'class': 'custom-typography'}}) }}
			{{ form_widget(form.deliveryDate, {'attr': {'class': 'form-control custom-typography flatpickr-input',
			'placeholder': 'Sélectionner une date', 'data-date-format': 'd/m/Y'}}) }}
		</div>

		<div class="form-group toggle-group mt-3">
			{{ form_label(form.partialDelivery, 'Livraison partielle', {'label_attr': {'class': 'custom-typography'}})
			}}
			<div class="toggle-switch">
				{{ form_widget(form.partialDelivery, {'attr': {'class': 'custom-toggle'}}) }}
			</div>

		</div>
		<div class="form-group">
			{{ form_widget(form.type, {'attr': {'class': 'form-control custom-typography', 'disabled': 'disabled'}}) }}
		</div>

		<div class="form-group mt-3">
			{{ form_label(form.seller, 'Vendeur', {'label_attr': {'class': 'custom-typography'}}) }}
			{{ form_widget(form.seller, {'attr': {'class': 'form-control custom-typography', 'disabled': 'disabled'}})
			}}
		</div>

		<div class="form-group">
			{{ form_widget(form.corporation, {'attr': {'class': 'form-control', 'disabled': 'disabled'}}) }}
		</div>

		{# {% if form.nomChantier.vars.value is not null %}
		<div class="form-group mt-3">
			{{ form_label(form.nomChantier, 'Nom chantier', {'label_attr': {'class': 'custom-typography'}}) }}
			{{ form_widget(form.nomChantier, {'attr': {'class': 'form-control custom-typography'}}) }}
		</div>
		<div class="form-group mt-3">
			{{ form_label(form.adr1Chantier, 'Adresse 1 chantier', {'label_attr': {'class': 'custom-typography'}}) }}
			{{ form_widget(form.adr1Chantier, {'attr': {'class': 'form-control custom-typography'}}) }}
		</div>
		<div class="form-group mt-3">
			{{ form_label(form.adr2Chantier, 'Adresse 2 chantier', {'label_attr': {'class': 'custom-typography'}}) }}
			{{ form_widget(form.adr2Chantier, {'attr': {'class': 'form-control custom-typography'}}) }}
		</div>
		<div class="form-group mt-3">
			{{ form_label(form.adr3Chantier, 'Adresse 3 chantier', {'label_attr': {'class': 'custom-typography'}}) }}
			{{ form_widget(form.adr3Chantier, {'attr': {'class': 'form-control custom-typography'}}) }}
		</div>
		<div class="form-group mt-3">
			{{ form_label(form.cpChantier, 'Code postal chantier', {'label_attr': {'class': 'custom-typography'}}) }}
			{{ form_widget(form.cpChantier, {'attr': {'class': 'form-control custom-typography'}}) }}
		</div>
		<div class="form-group mt-3">
			{{ form_label(form.vilChantier, 'Ville chantier', {'label_attr': {'class': 'custom-typography'}}) }}
			{{ form_widget(form.vilChantier, {'attr': {'class': 'form-control custom-typography'}}) }}
		</div>
		{% else %} #}
		<div class="form-group mt-3">
			{{ form_label(form.nomSiegeSocial, 'Nom siège social', {'label_attr': {'class': 'custom-typography'}}) }}
			{{ form_widget(form.nomSiegeSocial, {'attr': {'class': 'form-control custom-typography'}}) }}
		</div>
		<div class="form-group mt-3">
			{{ form_label(form.adr1SiegeSocial, 'Adresse 1 siège social', {'label_attr': {'class':
			'custom-typography'}}) }}
			{{ form_widget(form.adr1SiegeSocial, {'attr': {'class': 'form-control custom-typography'}}) }}
		</div>
		<div class="form-group mt-3">
			{{ form_label(form.adr2SiegeSocial, 'Adresse 2 siège social', {'label_attr': {'class':
			'custom-typography'}}) }}
			{{ form_widget(form.adr2SiegeSocial, {'attr': {'class': 'form-control custom-typography'}}) }}
		</div>
		<div class="form-group mt-3">
			{{ form_label(form.adr3SiegeSocial, 'Adresse 3 siège social', {'label_attr': {'class':
			'custom-typography'}}) }}
			{{ form_widget(form.adr3SiegeSocial, {'attr': {'class': 'form-control custom-typography'}}) }}
		</div>
		<div class="form-group mt-3">
			{{ form_label(form.cpSiegeSocial, 'Code postal siège social', {'label_attr': {'class':
			'custom-typography'}}) }}
			{{ form_widget(form.cpSiegeSocial, {'attr': {'class': 'form-control custom-typography'}}) }}
		</div>
		<div class="form-group mt-3">
			{{ form_label(form.vilSiegeSocial, 'Ville siège social', {'label_attr': {'class': 'custom-typography'}}) }}
			{{ form_widget(form.vilSiegeSocial, {'attr': {'class': 'form-control custom-typography'}}) }}
		</div>
		{# {% endif %} #}

		<div class="form-group mt-3 w-100">
			{{ form_widget(form.submit, {'attr': {'class': 'form-control custom-btn btn btn-lg'}}) }}
		</div>

		{{ form_end(form) }}
	</div>
</div>

<div class="button-container">
	<a href="{{ path('app_dates_livraisons_adherent') }}" class="btn btn-primary return-btn custom-btn">
		Retour
	</a>
</div>

<div class="bottom-left-image-douchette">
	<img src="{{ asset('images/Entrepot.svg') }}" alt="entrepot">
</div>

{% if is_granted('IS_AUTHENTICATED_FULLY') %}


{% if zipCode is empty %}
<script>
	var tc = "{{ app.user.tourCode }}";
</script>
{% else %}
<script>
	var tc = "{{ zipCode }}";
</script>
{% endif %}

{% endif %}

<script src="{{ asset('order_detail.js') }}"></script>
{% endblock %}