{% extends 'base.html.twig' %}

{% block body %}
<a href="{{ path('app_inventory') }}" id='back-btn'
	class="custom-btn custom-btn:hover custom-btn:focus mt-3 mb-3">Retour</a>

<div class="container-fluid ">

	<h3 class="mb-3  mt-3">Inventaire n° *** pour l'allée {{ location }} du depôt : {{
		warehouse }}
	</h3>

	{{ form_start(form) }}

	<table class="table table-striped ">
		<thead>
			<tr>
				<th style=" width: 130px; font-size:14px; text-align :center;">Emplacement</th>
				<th style=" width: 100px; font-size:14px; text-align :center;">Code article</th>
				<th style=" width: 350px; font-size:14px; text-align :center;">Désignation 1</th>
				<th style=" width: 350px; font-size:14px; text-align :center;">Désignation 2</th>
				<th style="font-size:14px ; text-align :center;" ;>Quantité</th>
				<th style=" width: 80px;  font-size:14px; text-align :center;">Unité</th>



			</tr>
		</thead>
		<tbody>
			{% for article in form.articles %}
			<tr>



				<td style="background-color: rgba(166, 202, 255, 0.3);">{{ form_widget(article.location) }}</td>
				<td>{{ form_widget(article.articleCode) }}</td>
				<td>{{ form_widget(article.designation1) }}</td>
				<td>{{ form_widget(article.designation2) }}</td>
				<td style="background-color: rgba(166, 202, 255, 0.3);">{{ form_widget(article.quantityLocation1) }}

				<td>
					{% if article.packagingName.vars.value == '' %}
					{{ form_widget(article.preparationUnit) }}
					{{ form_widget(article.packagingName, { 'attr': {'style': 'display: none;'} }) }}
					{% else %}
					{{ form_widget(article.packagingName) }}
					{{ form_widget(article.preparationUnit , { 'attr': {'style': 'display: none;'} }) }}
					{% endif %}
				</td>


				{{ form_widget(article.lotCode , { 'attr': {'style': 'display: none;'} }) }}
				{{ form_widget(article.quantityLocation2, { 'attr': {'style': 'display: none;'} }) }}
				{{ form_widget(article.quantityLocation3, { 'attr': {'style': 'display: none;'} }) }}



			</tr>
			{% endfor %}
		</tbody>
	</table>
	<style>
		/* bouton connexion */
		.custom-btn {
			border-color: rgb(0, 70, 100);
			background-color: rgb(0, 70, 100);
			color: rgb(130, 170, 55);
			border-radius: 5px;
			/* Bordure arrondie */
			padding: 10px;
			text-decoration: none;

			/* Ajout d'une bordure par défaut transparente */
			transition: border-color 0.3s ease;
			/* Transition douce pour la bordure */
		}

		.custom-btn:hover,
		.custom-btn:focus {
			border: 2px solid transparent;
			background-color: rgb(130, 170, 55);
			color: #f2f6eb;
			/* Couleur de la bordure au survol */
		}
	</style>

	<div class="text-end">
		{{ form_widget(form.save, { 'attr': { 'class': 'btn btn-primary custom-btn' } }) }}
	</div>




	{{ form_end(form) }}
</div>

{% endblock %}