{% extends 'base.html.twig' %}

{% block title %}Détail Inventaire
{% endblock %}

{% block body %}
	<div class="content-container sfp-regular-text">
		<h3>Détail Inventaire pour l'emplacement
			{{ location }}</h3>

		<table class="table table-striped">
			<thead>
				<tr>
					{# <th>Inventory Number</th> #}
					<th>Warehouse</th>
					<th>Location</th>
					{# <th>Location 2</th> #}
					{# <th>Location 3</th> #}
					<th>Article Code</th>
					<th>Designation 1</th>
					<th>Designation 2</th>
					<th>Dimension Type</th>
					<th>Quantity Location 1</th>
					{# <th>Quantity Location 2</th> #}
					{# <th>Quantity Location 3</th> #}
					<th>Preparation Unit</th>
					{# <th>Lot Code</th> #}
				{# <th>Packaging</th> #}
					{# <th>Packaging Name</th> #}
				</tr>
			</thead>
			<tbody>
				{% for item in articlesWithForms %}
					<tr>
						<td>{{ form_widget(item.form.inventoryNumber, {'attr': {'class': 'form-control', 'type': 'hidden'}}) }}</td>
						<td>{{ form_widget(item.form.warehouse, {'attr': {'class': 'form-control', 'disabled': 'disabled'}}) }}</td>
						<td>{{ form_widget(item.form.location, {'attr': {'class': 'form-control', 'disabled': 'disabled'}}) }}</td>
						<td>{{ form_widget(item.form.location2, {'attr': {'class': 'form-control', 'type': 'hidden'}}) }}</td>
						<td>{{ form_widget(item.form.location3, {'attr': {'class': 'form-control', 'type': 'hidden'}}) }}</td>
						<td>{{ form_widget(item.form.articleCode, {'attr': {'class': 'form-control', 'disabled': 'disabled'}}) }}</td>
						<td>{{ form_widget(item.form.designation1, {'attr': {'class': 'form-control', 'disabled': 'disabled'}}) }}</td>
						<td>{{ form_widget(item.form.designation2, {'attr': {'class': 'form-control', 'disabled': 'disabled'}}) }}</td>
						<td>{{ form_widget(item.form.dimensionType, {'attr': {'class': 'form-control', 'disabled': 'disabled'}}) }}</td>
						<td>{{ form_widget(item.form.quantityLocation1, {'attr': {'class': 'form-control'}}) }}</td>
						<td>{{ form_widget(item.form.quantityLocation2, {'attr': {'class': 'form-control', 'type': 'hidden'}}) }}</td>
						<td>{{ form_widget(item.form.quantityLocation3, {'attr': {'class': 'form-control', 'type': 'hidden'}}) }}</td>
						<td>{{ form_widget(item.form.preparationUnit, {'attr': {'class': 'form-control', 'disabled': 'disabled'}}) }}</td>
						<td>{{ form_widget(item.form.lotCode, {'attr': {'class': 'form-control', 'type': 'hidden'}}) }}</td>
						<td>{{ form_widget(item.form.packaging, {'attr': {'class': 'form-control', 'type': 'hidden'}}) }}</td>
						<td>{{ form_widget(item.form.packagingName, {'attr': {'class': 'form-control', 'type': 'hidden'}}) }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<a href="{{ path('app_edit2', {location:location | url_encode }) }}" id='back-btn' class="btn btn-primary">Retour</a>

	{% endblock %}
