{% extends 'base.html.twig' %}

{% block title %}Liste Inventaire
{% endblock %}

{% block body %}
	<div class="container-fluid my-4 inventory-container sfp-regular-text">
		<h3>Liste des Articles d'Inventaire pour le numéro
		</h3>

		<table id="inventory-table" class="table table-hover centered-table">
			<thead class="table-light">
				<tr>
					<th>N° Inventaire</th>
					<th>Entrepôt</th>
					<th>Emplacement</th>

					<th>Code Article</th>
					<th>Désignation 1</th>
					<th>Désignation 2</th>
					<th>Code Lot</th>
					<th>Type de Dimension</th>
					<th>Conditionnement</th>
					<th>Libellé Conditionnement</th>
					<th>Quantité Loc1</th>
					<th>Quantité Loc2</th>
					<th>Quantité Loc3</th>
					<th>Unité Préparation</th>
					<th>Quantité 2 Loc1</th>
					<th>Quantité 2 Loc2</th>
					<th>Quantité 2 Loc3</th>
				</tr>
			</thead>
			<tbody>
				{% for article in articles %}
					<tr>
						<td>{{ article.inventoryNumber }}</td>
						<td>{{ article.warehouse }}</td>
						<td>{{ location }}</td>

						<td>{{ article.articleCode }}</td>
						<td>{{ article.designation1 }}</td>
						<td>{{ article.designation2 }}</td>
						<td>{{ article.lotCode }}</td>
						<td>{{ article.dimensionType }}</td>
						<td>{{ article.packaging }}</td>
						<td>{{ article.packagingName }}</td>
						<td>{{ article.quantityLocation1 }}</td>
						<td>{{ article.quantityLocation2 }}</td>
						<td>{{ article.quantityLocation3 }}</td>
						<td>{{ article.preparationUnit }}</td>
						<td>{{ article.quantity2Location1 }}</td>
						<td>{{ article.quantity2Location2 }}</td>
						<td>{{ article.quantity2Location3 }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

	<script src="{{ asset('inventory_index.js') }}"></script>
{% endblock %}
