{% extends 'base.html.twig' %}

{% block body %}
<a href="{{ path('app_inventory') }}" id='back-btn' class="btn btn-primary">Retour</a>

<div class="container">

	<h1>Inventaire pour la location {{ location }}</h1>

	{{ form_start(form) }}

	<table class="table table-striped">
		<thead>
			<tr>
				<th>Entrepôt</th>
				<th>Emplacement</th>
				<th>Code article</th>
				<th>Désignation 1</th>
				<th>Désignation 2</th>
				<th>Code lot</th>
				<th>Quantité emplacement</th>
				<th>Unité de préparation</th>
				<th>Quantité 2 emplacement</th>
			</tr>
		</thead>
		<tbody>
			{% for articleForm in form.articles %}
			{# Rendre les champs communs une seule fois et les stocker dans des variables #}
			{% if loop.first %}
			{% set warehouseWidget = articleForm.warehouse.vars.value %}
			{% set articleCodeWidget = articleForm.articleCode.vars.value %}
			{% set designation1Widget = articleForm.designation1.vars.value %}
			{% set designation2Widget = articleForm.designation2.vars.value %}
			{% set lotCodeWidget = articleForm.lotCode.vars.value %}
			{% set quantityLocation1Widget = articleForm.quantityLocation1.vars.value %}
			{% set preparationUnitWidget = articleForm.preparationUnit.vars.value %}
			{% set quantity2Location1Widget = form_widget(articleForm.quantityLocation2) %}
			{% endif %}

			{# {% if location == articleForm.location.vars.value[:5] %}
			{{ dump("Emplacement 1 correspond à la location") }}
			{% else %}
			{{ dump("Emplacement 1 ne correspond pas: " ~ articleForm.location.vars.value ~
			articleForm.articleCode.vars.value) }}
			{% endif %}

			{% if location == articleForm.location2.vars.value[:5] %}
			{{ dump("Emplacement 2 correspond à la location") }}
			{% else %}
			{{ dump("Emplacement 2 ne correspond pas: " ~ articleForm.location2.vars.value ~
			articleForm.articleCode.vars.value) }}
			{% endif %}

			{% if location == articleForm.location3.vars.value[:5] %}
			{{ dump("Emplacement 3 correspond à la location") }}
			{% else %}
			{{ dump("Emplacement 3 ne correspond pas: " ~ articleForm.location3.vars.value ~
			articleForm.articleCode.vars.value) }}
			{% endif %} #}

			{# Vérifiez chaque localisation et affichez une ligne pour chaque localisation correspondante #}
			{% if location == articleForm.location.vars.value[:5] %}
			{{ dump("emplacement boucle 1 : " ~ articleForm.location.vars.value ~ " pour l'article : " ~
			articleForm.articleCode.vars.value)}}

			<tr>
				<td>{{ warehouseWidget }}</td>
				<td>{{ form_widget(articleForm.location) }} 1</td>
				<td>{{ articleCodeWidget }}</td>
				<td>{{ designation1Widget }}</td>
				<td>{{ designation2Widget }}</td>
				<td>{{ lotCodeWidget }}</td>
				<td>{{ quantityLocation1Widget }}</td>
				<td>{{ preparationUnitWidget }}</td>
				<td>{{ quantity2Location1Widget }}</td>
			</tr>
			{% endif %}

			{% if location == articleForm.location2.vars.value[:5] %}
			{{ dump("emplacement boucle 2 : " ~ articleForm.location2.vars.value ~ " pour l'article : " ~
			articleForm.articleCode.vars.value) }}
			<tr>
				<td>{{ warehouseWidget }}</td>
				<td>{{ form_widget(articleForm.location2) }} 2</td>
				<td>{{ articleCodeWidget }}</td>
				<td>{{ designation1Widget }}</td>
				<td>{{ designation2Widget }}</td>
				<td>{{ lotCodeWidget }}</td>
				<td>{{ quantityLocation1Widget }}</td>
				<td>{{ preparationUnitWidget }}</td>
				<td>{{ quantity2Location1Widget }}</td>
			</tr>
			{% endif %}

			{% if location == articleForm.location3.vars.value[:5] %}
			{{ dump("emplacement boucle 3 : " ~ articleForm.location3.vars.value ~ " pour l'article : " ~
			articleForm.articleCode.vars.value) }}
			<tr>
				<td>{{ warehouseWidget }}</td>
				<td>{{ form_widget(articleForm.location3) }} 3</td>
				<td>{{ articleCodeWidget }}</td>
				<td>{{ designation1Widget }}</td>
				<td>{{ designation2Widget }}</td>
				<td>{{ lotCodeWidget }}</td>
				<td>{{ quantityLocation1Widget }}</td>
				<td>{{ preparationUnitWidget }}</td>
				<td>{{ quantity2Location1Widget }}</td>
			</tr>
			{% endif %}
			{% endfor %}
		</tbody>
	</table>

	<div class="text-right">
		{{ form_widget(form.save, { 'attr': { 'class': 'btn btn-primary' } }) }}
	</div>

	{{ form_end(form) }}
</div>

{% endblock %}