{% extends 'base.html.twig' %}

{% block title %}Liste des Emplacements d'Inventaire
{% endblock %}

{% block body %}
<div class="container-fluid my-4 inventory-container sfp-regular-text">
	<h3>Liste des emplacements pour l'inventaire 2024

	</h3>
	<table id="inventory-locations-table" class="table table-hover centered-table">
		<thead class="table-light">
			<tr>
				<th>
					<div class="mb-2"><input type="text" id="filter-inventory-number" class="form-control"
							data-column="0" placeholder="N° Inventaire" style="text-align: center;"></div>
				</th>
				<th>
					<div class="mb-2"><input type="text" id="filter-warehouse" class="form-control" data-column="1"
							placeholder="Entrepôt" style="text-align: center;"></div>
				</th>
				{# <th>
					<div class="mb-2" style="text-align: center;">
						<label><input type="checkbox" class="filter-warehouse" value="AQA" checked> AQA</label>
						<label><input type="checkbox" class="filter-warehouse" value="AQB" checked> AQB</label>
						<label><input type="checkbox" class="filter-warehouse" value="AQD" checked> AQD</label>
						<label><input type="checkbox" class="filter-warehouse" value="AQE" checked> AQE</label>
						<label><input type="checkbox" class="filter-warehouse" value="AQN" checked> AQN</label>
					</div> #}
				</th>
				<th>
					<div class="mb-2"><input type="text" id="filter-location" class="form-control" data-column="2"
							placeholder="Emplacement" style="text-align: center;"></div>
				</th>
				<th>
					<div class="mb-2"><input type="text" id="filter-referent" class="form-control" data-column="3"
							placeholder="Référent" style="text-align: center;"></div>
				</th>
				<th>
					<div class="mb-2"><input type="text" id="filter-status" class="form-control" data-column="4"
							placeholder="Statut" style="text-align: center;"></div>
				</th>
				<th>
					<div class="mb-2"><input type="text" id="filter-action" class="form-control" data-column="5"
							placeholder="Button" style="text-align: center;"></div>
				</th>
			</tr>
		</thead>
		<tbody>
			{% for location in locations %}
			<tr>
				<td style="text-align: center;">{{ location.inventoryNumber|e }}</td>
				<td style="text-align: center;">{{ location.warehouse|e }}</td>
				<td style="text-align: center;">{{ location.location|e }}</td>
				<td style="text-align: center;">{{ location.referent is not null ? location.referent|e : '-' }}</td>
				{% if location.status == 0 %}
				<td class="text-dark" style="background-color: rgba(255, 165, 0, 0.5) ;text-align: center; ">Inactif
				</td>
				{% else %}
				<td class="text-dark" style="background-color: rgba(255, 0, 0, 0.5);text-align: center;">Actif</td>

				{% endif %}

				{% if location.status != 1 %}
				<td class="text-dark" style="background-color: rgba(0, 70, 100,0.8);text-align: center;">

					<a style='color: rgb(130, 170, 55);'
						href="{{ path('app_inventory_detail_edit', {warehouse: location.warehouse, location: location.location | url_encode}) }}">Afficher</a>
				</td>

				{% elseif location.status == 1 and (location.referent == app.user.login or is_granted('ROLE_ADMIN')) %}
				<td class="text-dark" style="background-color: rgba(0, 70, 100,0.8);text-align: center;">

					<a style='color: rgb(130, 170, 55);'
						href="{{ path('app_inventory_detail_edit', {warehouse: location.warehouse, location: location.location | url_encode}) }}">Afficher</a>
				</td>

				{% else %}
				<td class="text-dark" style="background-color: rgba(0, 70, 100,0.8);text-align: center;">

					<span style='color: gray;'>Afficher</span>
				</td>

				{% endif %}
			</tr>
			</td>
		</tbody>
		</tr>
		{% endfor %}</tbody>
	</table>
</div>
<script src="{{ asset('inventory_index.js') }}"></script>

<script>// //
	// // Rafraîchit la page toutes les 10 secondes (10000 millisecondes)
	// setInterval(function () {
	// window.location.reload();
	// }, 10000);</script>

{% endblock %}