{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié
{% endblock %}

{% block body %}


	<div class="light-blue-bg w-25 mx-auto mt-form">
		<h1 class="blue-arba h3 mb-3 sfp-regular-text">Veuillez entrer votre mot de passe</h1>
		{# {{ form_start(form, {'action': path('app_forgotten_password')}) }} #}
		{{ form_start(form) }}
		<div class="form-group">
			{{ form_label(form.new_password.first, null, {'label_attr': {'class': 'form-label'}}) }}
			{{ form_widget(form.new_password.first, {'attr': {'class': 'form-control'}}) }}
			{{ form_errors(form.new_password.first) }}
		</div>
		<div class="form-group">
			{{ form_label(form.new_password.second, null, {'label_attr': {'class': 'form-label'}}) }}
			{{ form_widget(form.new_password.second, {'attr': {'class': 'form-control'}}) }}
			{{ form_errors(form.new_password.second) }}
		</div>
		<div class="form-group">
			{{ form_widget(form.submit, {'attr': {'class': 'custom-btn custom-submit-class w-100 mt-3'}}) }}
		</div>
		{{ form_end(form) }}
	</div>

{% endblock %}
