{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié
{% endblock %}

{% block body %}

	<div class="light-blue-bg w-25 mx-auto mt-form">
		<h1 class="blue-arba h3 mb-3 sfp-regular-text">Veuillez entrer votre mot de passe</h1>

		<!-- Message about the password format -->
		<div class="alert alert-info">
			<p>Votre mot de passe doit respecter les critères suivants :</p>
			<ul>
				<li>Au moins 12 caractères</li>
				<li>Au moins un chiffre</li>
				<li>Au moins un caractère spécial</li>
				<li>Au moins une lettre</li>
				<li>Au moins une majuscule</li>
			</ul>
		</div>

		{{ form_start(form) }}
		<div class="form-group">
			{{ form_label(form.new_password.first, null, {'label_attr': {'class': 'form-label'}}) }}
			{{ form_widget(form.new_password.first, {'attr': {'class': 'form-control'}}) }}
			{{ form_errors(form.new_password.first) }}
		</div>
		<div class="form-group">
			{{ form_label(form.new_password.second, null, {'label_attr': {'class': 'form-label'}}) }}
			{{ form_widget(form.new_password.second, {'attr': {'class': 'form-control'}}) }}
			{{ form_errors(form.new_password.second) }}
		</div>
		<div class="form-group">
			{{ form_widget(form.submit, {'attr': {'class': 'custom-btn custom-submit-class w-100 mt-3'}}) }}
		</div>
		{{ form_end(form) }}
	</div>

{% endblock %}
