{% extends 'base.html.twig' %}

{% block title %}Dates Livraisons
{% endblock %}

{% block body %}
	<div class="content-container">
		<h3>Détail commande
		</h3>

		{{ form_start(form, {'attr': {'class': 'change-delivery-date-form'}, 'action': path('app_edit', {'id': order.id})}) }}

		<div class="form-group">
			{{ form_label(form.id, 'N° de bon', {'label_attr': {'class': 'custom-typography'}}) }}
			{{ form_widget(form.id, {'attr': {'class': 'form-control custom-typography', 'disabled': 'disabled'}}) }}
		</div>

		<div
			class="form-group">
			{# {{ form_label(form.orderStatus, 'Statut de la commande', {'label_attr': {'class': 'custom-typography'}}) }} #}
			{{ form_widget(form.orderStatus, {'attr': {'class': 'form-control custom-typography', 'disabled': 'disabled'}}) }}
		</div>

		<div class="form-group">
			{{ form_label(form.reference, 'Référence', {'label_attr': {'class': 'custom-typography'}}) }}
			{{ form_widget(form.reference, {'attr': {'class': 'form-control custom-typography', 'disabled': 'disabled'}}) }}
		</div>

		<div class="form-group">
			{{ form_label(form.orderDate, 'Date de commande', {'label_attr': {'class': 'custom-typography'}}) }}
			{{ form_widget(form.orderDate, {'attr': {'class': 'form-control custom-typography', 'disabled': 'disabled'}}) }}
		</div>

		<div class="form-group">
			{{ form_label(form.deliveryDate, 'Date de livraison', {'label_attr': {'class': 'custom-typography'}}) }}
			{{ form_widget(form.deliveryDate, {'attr': {'class': 'form-control custom-typography flatpickr-input', 'placeholder': 'Sélectionner une date', 'data-date-format': 'd/m/Y'}}) }}
		</div>

		<div
			class="form-group">
			{# {{ form_label(form.type, 'Type', {'label_attr': {'class': 'custom-typography'}}) }} #}
			{{ form_widget(form.type, {'attr': {'class': 'form-control custom-typography', 'disabled': 'disabled'}}) }}
		</div>

		<div class="form-group">
			{{ form_label(form.seller, 'Vendeur', {'label_attr': {'class': 'custom-typography'}}) }}
			{{ form_widget(form.seller, {'attr': {'class': 'form-control custom-typography', 'disabled': 'disabled'}}) }}
		</div>

		{# <div class="form-group">
																	{{ form_label(form.comment, 'Commentaire', {'label_attr': {'class': 'custom-typography'}}) }}
																	{{ form_widget(form.comment, {'attr': {'class': 'form-control custom-typography', 'disabled': 'disabled'}}) }}
																</div> #}

		<div
			class="form-group">
			{# {{ form_label(form.corporation, 'Corporation', {'label_attr': {'class': 'custom-typography'}}) }} #}
			{{ form_widget(form.corporation, {'attr': {'class': 'form-control custom-typography', 'disabled': 'disabled'}}) }}
		</div>


		{{ form_widget(form._token) }}

		{{ form_end(form) }}
		<a href="{{ path('app_dates_livraisons_adherent') }}" class="btn btn-primary">Retour</a>
	</div>

	{% if is_granted('IS_AUTHENTICATED_FULLY') %}
		<script>
			var tc = "{{ app.user.tourCode }}";
		</script>
	{% endif %}


	<script src="{{ asset('order_detail.js') }}"></script>

{% endblock %}
