{% extends 'base.html.twig' %}

{% block title %}Dates Livraisons
{% endblock %}

{% block body %}
	<div class="container-fluid my-4 delivery-dates-container">
		<h3>Dates livraisons adhérent</h3>
		{# <h1>Dates livraisons page
							{{ DB }}</h1> #}
		<table class="table table-hover centered-table">
			<thead class="table-light">
				<tr>
					<th>
						<div class="mb-2"><input type="text" class="form-control" placeholder="N° Commande" readonly style="text-align: center;"></div>
					</th>
					<th>
						<div class="mb-2"><input type="text" class="form-control" placeholder="Utilisateur" readonly style="text-align: center;"></div>
					</th>
					<th>
						<div class="mb-2"><input type="text" class="form-control" placeholder="Date Commande" readonly style="text-align: center;"></div>
					</th>
					<th>
						<div class="mb-2"><input type="text" class="form-control" placeholder="Référence" readonly style="text-align: center;"></div>
					</th>
					<th>
						<div class="mb-2"><input type="text" class="form-control" placeholder="Date Livraison" readonly style="text-align: center;"></div>
					</th>
					<th>
						<div class="mb-2"><input type="text" class="form-control" placeholder="Type" readonly style="text-align: center;"></div>
					</th>
					<th>
						<div class="mb-2"><input type="text" class="form-control" placeholder="Corporation" readonly style="text-align: center;"></div>
					</th>
					<th>
						<div class="mb-2"><input type="text" class="form-control" placeholder="Action" readonly style="text-align: center;"></div>
					</th>
				</tr>
			</thead>
			<tbody>
				{% for order in orders %}
					<tr>
						<td class="text-center">{{ order.id|e }}</td>
						<td class="text-center">{{ order.seller|e }}</td>
						<td class="text-center">{{ order.orderDate|date("d/m/Y") }}</td>
						<td class="text-center">{{ order.reference|e }}</td>
						<td class="text-center">{{ order.deliveryDate|date("d/m/Y") }}</td>
						<td class="text-center">{{ order.type|e }}</td>
						<td class="text-center">{{ order.corporation.name ~ '  ' ~ order.corporation.id | e }}</td>
						<td class="text-center">
							<a class="btn btn-sm {% if order.orderStatus == 'edited' %}btn-success{% else %}btn-primary{% endif %}" href="{{ path('app_edit', {id: order.id}) }}">Editer</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
