{% extends 'base.html.twig' %}

{% block title %}Dates Livraisons
{% endblock %}

{% block body %}
	{# TODO: création formulaire #}
	<h1>Dates livraisons page
		{{ DB }}
	</h1>
	<ul>
		<table>
			<thead>
				<tr>
					<th><input type="text" placeholder="N° Commande" readonly></th>
					<th><input type="text" placeholder="Utilisateur" readonly></th>
					<th><input type="text" placeholder="Date Commande" readonly></th>
					<th><input type="text" placeholder="Référence" readonly></th>
					<th><input type="text" placeholder="Date Livraison" readonly></th>
					<th><input type="text" placeholder="Type" readonly></th>
				</tr>
			</thead>
			<tbody>
				{% for order in orders %}
					<tr>
						<td>{{ order.id|e }}</td>
						<td>{{ order.seller|e }}</td>
						<td>{{ order.orderDate|date("d/m/Y") }}</td>
						<td>{{ order.reference|e }}</td>
						<td>{{ order.deliveryDate|date("d/m/Y") }}</td>
						<td>{{ order.type|e }}</td>
						<td>{{ order.corporation.name ~ '  ' ~ order.corporation.id | e }}</td>
						<td>
							<a class="btn btn-sm {% if order.orderStatus == 'edited' %}btn-success{% else %}btn-primary{% endif %}" href="{{ path('app_edit', {id: order.id}) }}">Editer</a>
						</td>

					</tr>
				{% endfor %}
			</tbody>
		</table>
	</ul>
{% endblock %}
