{% extends 'base.html.twig' %}

{% block title %}Dates Livraisons
{% endblock %}

{% block body %}
	<div class="container-fluid my-4 delivery-dates-container sfp-regular-text">
		<h3>Dates livraisons
			{{DB}}</h3>

		<table id="orders-table" class="table table-hover centered-table">
			<thead class="table-light">
				<tr>
					<th>
						<div class="mb-2"><input type="text" id="filter-order-id" class="form-control" data-column="0" placeholder="N° Commande" style="text-align: center;"></div>
					</th>
					<th>
						<div class="mb-2"><input type="text" id="filter-seller" class="form-control" data-column="1" placeholder="Utilisateur" style="text-align: center;"></div>
					</th>
					<th>
						<div class="mb-2"><input type="text" id="filter-order-date" class="form-control" data-column="2" placeholder="Date Commande" style="text-align: center;"></div>
					</th>
					<th>
						<div class="mb-2"><input type="text" id="filter-reference" class="form-control" data-column="3" placeholder="Référence" style="text-align: center;"></div>
					</th>
					<th>
						<div class="mb-2"><input type="text" id="filter-delivery-date" class="form-control" data-column="4" placeholder="Date Livraison" style="text-align: center;"></div>
					</th>
					<th>
						<div class="mb-2"><input type="text" id="filter-type" class="form-control" data-column="5" placeholder="Type" style="text-align: center;"></div>
					</th>
					{% if is_granted('ROLE_ARBA') %}
						<th>
							<div class="mb-2"><input type="text" id="filter-corporation" class="form-control" data-column="6" placeholder="Corporation" style="text-align: center;"></div>
						</th>
					{% endif %}
					{% if is_granted('ROLE_USER') %}
						<th>
							<div class="mb-2"><input type="text" id="filter-action" class="form-control" data-column="{% if is_granted('ROLE_ARBA') %}7{% else %}6{% endif %}" placeholder="Action" style="text-align: center;"></div>
						</th>
					{% endif %}
				</tr>
			</thead>
			<tbody>
				{% for order in orders %}
					<tr>
						<td>{{ order.id|e }}</td>
						<td>{{ order.seller|e }}</td>
						<td>{{ order.orderDate|date("d/m/Y") }}</td>
						<td>{{ order.reference|e }}</td>
						<td>{{ order.deliveryDate|date("d/m/Y") }}</td>
						<td>{{ order.type|e }}</td>
						{% if is_granted('ROLE_ARBA') %}
							<td>{{ order.corporation.name }}
								{{ order.corporation.id }}</td>
						{% endif %}

						{% if is_granted('ROLE_USER') %}
							<td>
								{% if order.orderStatus == 'editable' %}
									<a class="btn btn-sm btn-primary" href="{{ path('app_edit', {id: order.id}) }}">Modifier</a>
								{% elseif order.orderStatus == 'edited' %}
									<a class="btn btn-sm btn-success" href="{{ path('app_edit', {id: order.id}) }}">Modifiée</a>
								{% elseif order.orderStatus == 'printed' %}
									<span class="btn btn-sm btn-warning">En préparation</span>
								{% elseif order.orderStatus == 'done' %}
									<span class="btn btn-sm btn-info">Livrée</span>
								{% elseif order.orderStatus == 'cancelled' %}
									<span class="btn btn-sm btn-danger">Annulée</span>
								{% endif %}
							</td>
						{% endif %}

					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

	<script src="{{ asset('order_index.js') }}"></script>
{% endblock %}
